# ignore all
*
*hack/
!*/
!*info_build/
!*info_build/file/
!*info_build/file/gocv/
!*info_build/firefly/
!*config/nixos_config
!*embedd/


# source files
!*.sh
!pre-commit
!.clang-format
!script/.gitignore
!.gitignore
!Makefile
!Makefile.20.04.arm64
!*.cfg
!*.nix
!*.md
