# ignore all
/*
!src/
!cert/
!script/

# C/C++ source files
!*.c
!*.cc
!*.cpp
!*.h
!*.hpp
!*.sh
!*.bat
!*.ini
!*.pro
!*.ui
!CMakeLists.txt
!.clang-format
!.gitignore
!*.cmake
!*.go
!*.gohtml
!*.js
!*.vue
!*.css
!*.mod
!*.json
